@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* * {
    border: 1px solid;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 1080px;
    margin: auto;

}

p {
    max-width: 70ch;
}

h1,
h2,
h3,
h4,
h4,
h5 {
    font-family: 'Rock Salt', Impact;
}

.banner img {
    width: 100%;

}

.mission h2 {
    text-align: center;
    margin: 0;

}

.mission p {
    margin: auto;
}

.mission {
    background-color: rgb(21, 119, 70);
    padding: 0 1.5em 1.5em 1.5em;
    margin: 1.5em 0;
}