@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 1080px;
    margin: auto;
}

p {
    max-width: 70ch;
}

h1,
h2,
h3,
h4,
h4,
h5 {
    font-family: 'Rock Salt', Impact;
}

.banner img {
    width: 100%;

}

.mission h2 {
    text-align: center;
}

.mission p {
    margin: auto;
}